*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:rgb(48, 93, 241);
    --secondary-color:rgb(104, 133, 230);
    --nav-color: rgb(240, 240, 240);
    --news-background-new:rgb(133, 180, 133);
    
}






.main-wrapper{
    display: flex;
}



/* Styling for left navigation panel */
.collapseButton{
    font-size:40px;
    position: fixed;
    left: 210px;
    top: 10px;
    --ionicon-stroke-width: 15px;
    color: rgb(8, 133, 243);
   
}
.collapseButton:hover{
    cursor: pointer;
}

.left-nav{
    position: relative;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-color);
    height:100vh;
    width: 230px;
    border-right: 1px solid rgb(201, 200, 200);
    flex-shrink: 0;
}

.left-nav a{
    
    padding: 15px 0px 15px 20px;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}

.left-nav a:hover{
    background-color: rgb(255, 255, 255);
}

.left-nav a:first-child{
    margin-top: 50px;
}

.left-nav a:last-child{
    margin-top: auto;
    margin-bottom: 20px;
}



/* Styling for content section */


.content-container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    
}

.child-content-container{
    display: flex;
    height: auto;
    justify-content: start;
    width: 80vw;
}

.child-content-container > div{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-left: 50px;
    margin-top: 50px;
    width: 400px;
    gap: 10px;
    
}



.child-content-container > div > div{
    min-height: 30vh;
    background-color: var(--secondary-color);
    border-radius: 10px;
}


/* Internal Notes */
.internal-notes{
    width: 100%;
    height:60px;
    border-bottom: 1px solid grey;
}
.internal-notes p{
    padding-top: 8px;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.internal-notes p:first-child{
   color: rgb(65, 64, 64);
}
#internal-note-h-btn-group{
    display: flex;
    justify-content: space-between;
}




/* Buttons */
.secondary-btn{
    padding: 2px 5px;
}