*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:rgb(48, 93, 241);
    --secondary-color:rgb(104, 133, 230);
    --nav-color: rgb(240, 240, 240);
    --news-background-new:rgb(133, 180, 133);
    
}

h1{
    padding-bottom: 20px;
}




.main-wrapper{
    display: flex;
}



/* Styling for left navigation panel */
.collapseButton{
    font-size:40px;
    position: fixed;
    left: 210px;
    top: 10px;
    --ionicon-stroke-width: 15px;
    color: rgb(8, 133, 243);
   
}
.collapseButton:hover{
    cursor: pointer;
}

.left-nav{
    position: relative;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-color);
    height:100vh;
    width: 230px;
    border-right: 1px solid rgb(201, 200, 200);
    flex-shrink: 0;
}

.left-nav a{
    
    padding: 15px 0px 15px 20px;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}

.left-nav a:hover{
    background-color: rgb(255, 255, 255);
}

.left-nav a:first-child{
    margin-top: 50px;
}

.left-nav a:last-child{
    margin-top: auto;
    margin-bottom: 20px;
}



/* Styling for content section */


.content-container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    padding-left: 50px;
    padding-top: 50px;
}

.child-content-container{
    display: flex;
    height: auto;
    justify-content: start;
    width: 80vw;
}

.child-content-container > div{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 400px;
    gap: 10px;
}



.child-content-container > div > div{
    min-height: 30vh;
    background-color: var(--secondary-color);
    border-radius: 10px;
}


/* Internal Notes */
.internal-notes{
    width: 100%;
    height:60px;
    border-bottom: 1px solid rgb(61, 61, 61);
}
.internal-notes p{
    padding-top: 8px;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.internal-notes p:first-child{
   color: rgb(65, 64, 64);
}
#internal-note-h-btn-group{
    display: flex;
    justify-content: space-between;
}






/* --- Dispatch --- */

.dispatch-container{
    --dispatch-vh:80vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 20%;
    width: 60vw;
    height: var(--dispatch-vh);
    background-color: rgb(138, 138, 139);
    box-shadow: 2px 2px 2px rgb(128, 128, 128);
}

/* -- upper part -- */
#custvet-detail-wrapper{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#customer-vet-wrapper{
    display: flex;
    flex-direction: column;
    height: calc(var(--dispatch-vh)/2);
    flex-direction: column;
    flex-grow: 1;
    background-color: blue;
    padding: 20px 20px;
    gap: 10px;
}
#customer-vet-wrapper > *{
    padding: 10px;
}

#customer-details-wrapper{
    display: flex;
    flex-direction: row;
    height: calc(var(--dispatch-vh)/2);
    flex-grow: 1;
    background-color: red;
}

#vet-details-wrapper{
    display: flex;
    height: calc(var(--dispatch-vh)/2);
    flex-grow: 1;
    background-color: green;
}



/* -- lower part -- */







/*---------------------------- UTILITIES ----------------------------------*/

/* Buttons */

.primary-btn{
    padding: 10px 10px;
    font-weight: 700;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border-style: none;
    background-color: var(--primary-color);
    margin: auto;
}

.secondary-btn{
    padding: 0px 10px;
    font-weight: 700;
    border-radius: 8px;
    color: rgb(36, 35, 35);
    border: 2px solid var(--primary-color);
    background-color: white;
}
