*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    box-sizing: border-box;
    
}

.main-wrapper{
    display: flex;
}

.left-nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    height:100vh;
    width: 230px;
    border-right: 1px solid rgb(201, 200, 200);
    flex-shrink: 0;
}

.left-nav a{
    
    padding: 15px 0px 15px 20px;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}

.left-nav a:hover{
    background-color: rgb(255, 255, 255);
}

.left-nav a:first-child{
    margin-top: 50px;
}

.left-nav a:last-child{
    margin-top: auto;
    margin-bottom: 20px;
}



.content-container{
    background-color: rgb(255, 255, 255);
    height:100vh;
    width: 100%;
    
}
